aniso8601==8.0.0
attrs==19.3.0
autopep8==1.5
click==7.1.1
Flask==1.1.1
Flask-Injector==0.12.3
flask-restplus==0.13.0
injector==0.18.3
itsdangerous==1.1.0
Jinja2==2.11.1
jsonschema==3.2.0
MarkupSafe==1.1.1
pycodestyle==2.5.0
pydantic==1.6.2
pyrsistent==0.15.7
pytz==2019.3
six==1.14.0
typing-extensions==3.7.4.1
Werkzeug==1.0.0
